html,body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #eee;
	
	/* Firefox */
	display:-moz-box;
	-moz-box-orient:horizontal;
	-moz-box-pack:center;
	-moz-box-align:center;

	/* Safari and Chrome */
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-pack:center;
	-webkit-box-align:center;

	/* IE 10 */
	display:-ms-flexbox;
	-ms-flex-direction:row;
	-ms-flex-pack:center;
	-ms-flex-align:center;

	/* W3C */
	display:box;
	box-orient:horizontal;
	box-pack:center;
	box-align:center;
}

canvas {
	width: 768px;
	height: 768px;
	margin: 10px;
	
	border: dashed 1px #bbb;
	border-radius: 5px;
	
	background-color: white;

	-webkit-transition: width 0.5s, height 0.5s, box-shadow 0.5s;
	-o-transition: width 0.5s, height 0.5s, box-shadow 0.5s;
	-moz-transition: width 0.5s, height 0.5s, box-shadow 0.5s;
	-ms-transition: width 0.5s, height 0.5s, box-shadow 0.5s;
	transition: width 0.5s, height 0.5s, box-shadow 0.5s;
}

a {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

h1, h5 {
	font-family: "Lobster", cursive;
}

h1 {
	font-size: 3em;
	margin-top: 0px;
}

h5 {
	margin-bottom: 0px;
}

.panel {
	margin: 10px;
	width: 138px;
	
	font-family: "Cabin", Arial;
	text-align: right;
	word-wrap: normal;
	
	color: #555;
	cursor: default;
}

.panel footer {
	font-size: smaller;
}

.controls {
	padding: 6px 6px 0px 6px;
	
	border: dashed 1px #bbb;
	border-radius: 5px;
	
	background-color: #fafafa;
	box-shadow: 0px 0px 0px 2px #eee, 0px 0px 2px 4px #bbb, 0px 0px 5px 5px #eee inset;
}

.controls a {
	display: block;
	padding: 5px;
	margin-top: 0px;
	margin-bottom: 6px;
	
	border: solid 1px #555;
	border-radius: 5px;
	
	font-family: inherit;
	font-size: inherit;
	text-decoration: none;
	text-align: center;
	
	color: inherit;
	background-color: #ddd;
}

.controls select {
	width: 100%;
	padding: 5px;
	margin-top: 0px;
	margin-bottom: 6px;
	
	border: solid 1px #555;
	border-radius: 5px;
	outline: none;
	
	font-family: inherit;
	font-size: inherit;
	
	color: inherit;
	background-color: #ddd;
}

.controls a, .controls select {
	-webkit-transition: background-color 0.5s;
	-o-transition:  background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-ms-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

.controls a:hover, .controls select:hover {
	background-color: white;
}

footer a {
	font-family: "Lobster", cursive;;
	text-decoration: none;
	color: inherit;
}

footer a:hover {
	text-decoration: underline;
}

.inset-shadow {
	box-shadow: 0px 0px 0px 5px #f4f4f4, 0px 0px 2px 7px #bbb, 0px 0px 2px 2px #f4f4f4 inset;
}

.outset-shadow {
	box-shadow: 0px 0px 0px 5px #f4f4f4, 0px 0px 5px 10px #bbb, 0px 0px 2px 2px #f4f4f4 inset;
}

.move-cursor {
	cursor: move;
}