html,body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #eee;
	
	/* Firefox */
	display:-moz-box;
	-moz-box-orient:horizontal;
	-moz-box-pack:center;
	-moz-box-align:center;

	/* Safari and Chrome */
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-pack:center;
	-webkit-box-align:center;

	/* IE 10 */
	display:-ms-flexbox;
	-ms-flex-direction:row;
	-ms-flex-pack:center;
	-ms-flex-align:center;

	/* W3C */
	display:box;
	box-orient:horizontal;
	box-pack:center;
	box-align:center;
}

canvas {
	width: 768px;
	height: 768px;
	margin: 10px 10px 10px 0px;
	
	border: dashed 1px #bbb;
	border-radius: 5px;
	
	background-color: white;

	-webkit-transition: width 0.5s, height 0.5s, box-shadow 0.5s;
	-o-transition: width 0.5s, height 0.5s, box-shadow 0.5s;
	-moz-transition: width 0.5s, height 0.5s, box-shadow 0.5s;
	-ms-transition: width 0.5s, height 0.5s, box-shadow 0.5s;
	transition: width 0.5s, height 0.5s, box-shadow 0.5s;
}

a {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

h1, h5 {
	font-family: "Lobster", cursive;
}

h1 {
	font-size: 3.5em;
	margin-top: 0px;
}

h5 {
	margin-bottom: 0px;
}

#controls_container {
	margin: 10px 0px 10px 10px;
	width: 158px;
	
	font-family: "Cabin", Arial;
	text-align: right;
	word-wrap: normal;
	
	color: #555;
	cursor: default;
}

#controls_container header, #controls_container .controls, #controls_container footer {
	margin-right: 20px;
}

#controls_container footer {
	font-size: smaller;
}

#controls_container #browse {
	padding: 5px 10px 5px 5px;
	border: dashed 1px #bbb;
	border-right: none;
	border-radius: 5px 0px 0px 5px;
	
	font-family: "Lobster", cursive;
	color: white;
	background-color: #4169E1;
	box-shadow: 0px 0px 0px 2px #4169E1, 0px 0px 2px 4px #ccc;
	cursor: pointer;
}

#controls_container footer a {
	font-family: "Lobster", cursive;
	text-decoration: none;
	color: inherit;
}

#controls_container footer a:hover {
	text-decoration: underline;
}

.controls {
	padding: 6px 6px 0px 6px;
	
	border: dashed 1px #bbb;
	border-radius: 5px;
	
	background-color: #fafafa;
	box-shadow: 0px 0px 0px 2px #eee, 0px 0px 2px 4px #bbb, 0px 0px 5px 5px #eee inset;
}

.controls a {
	display: block;
	padding: 5px;
	margin-top: 0px;
	margin-bottom: 6px;
	
	border: solid 1px #555;
	border-radius: 5px;
	
	font-family: inherit;
	font-size: inherit;
	text-decoration: none;
	text-align: center;
	
	color: inherit;
	background-color: #ddd;
}

.controls select {
	width: 100%;
	padding: 5px;
	margin-top: 0px;
	margin-bottom: 6px;
	
	border: solid 1px #555;
	border-radius: 5px;
	outline: none;
	
	font-family: inherit;
	font-size: inherit;
	
	color: inherit;
	background-color: #ddd;
}

.controls a, .controls select {
	-webkit-transition: background-color 0.5s;
	-o-transition:  background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-ms-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

.controls a:hover, .controls select:hover {
	background-color: white;
}

.inset-shadow {
	box-shadow: 0px 0px 0px 5px #f7f7f7, 0px 0px 2px 7px #bbb, 0px 0px 5px 5px #f7f7f7 inset;
}

.outset-shadow {
	box-shadow: 0px 0px 0px 5px #f7f7f7, 0px 0px 5px 10px #bbb, 0px 0px 2px 2px #f7f7f7 inset;
}

.move-cursor {
	cursor: move;
}

#image_container {
	margin: 0;
	padding: 10px;
	
	border: dashed 1px #bbb;
	border-radius: 5px;
	
	background-color: #fafafa;
	box-shadow: 0px 0px 0px 2px #eee, 0px 0px 2px 4px #bbb, 0px 0px 5px 5px #eee inset;
	
	font-family: "Lobster", cursive;
	color: #555;
}

#image_container footer {
	margin-top: 5px;
	text-align: center;
}

#image_container #back {
	position: absolute;
	padding: 5px;
	top: 10%;
	left: -66px; /* 50(width) + 5*2(padding) + 1(border) + 2*2(box-shadow) + 1(border of image_container)  */
	width: 50px;
	
	border: dashed 1px #bbb;
	border-right: none;
	border-radius: 5px 0px 0px 5px;
	
	background-color: #E3675C;
	box-shadow: 0px 0px 0px 2px #E3675C, 0px 0px 2px 4px #ccc;
	
	text-align: center;
	z-index: 0;
	cursor: pointer;
}

#controls_container, #canvas_container, #image_container {
	-webkit-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.hidden {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	opacity: 0;
	visibility: hidden;
}

.shown {
	position: relative;
	opacity: 1;
	visibility: visible;
}

#unsupported {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 5px;
	
	font-family: "Cabin", Arial;
	font-weight: bold;
	text-align: center;
	
	color: #fff;
	background-color: #E3675C;
	box-shadow: 0px 0px 5px 5px #aaa;
}